.loading_bar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 4px;
    background: linear-gradient(to right, #f06, #48f, #4ee, #8e4, #f06);
    background-size: 200% 200%;
    animation: move 1s linear infinite;
}

@keyframes move {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}